 RewriteEngine On

# если запрос не обращен к конкретному файлу
 RewriteCond %{REQUEST_FILENAME} !-f
# если запрос не обращен к конкретному каталогу
 RewriteCond %{REQUEST_FILENAME} !-d     

# то перенаправляем его по правилу:                                        
RewriteRule ^(.*) index.php?$1 [L,QSA]   

# L - последнее правило, QSA - если есть доп. GET-параметры, то они будут добавлены к пришедшему запросу